# --------------------------------------------------------------------
# Copyright (c) 2022, WSO2 Inc. (http://wso2.com) All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# -----------------------------------------------------------------------

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-%s" (include "choreo-connect.fullname" .) "adapter" | trunc 63 }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "choreo-connect.labels" . | nindent 4 }}
    app.kubernetes.io/component: choreo-connect-adapter
spec:
  replicas: {{ .Values.wso2.deployment.adapter.replicaCount }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      {{- include "choreo-connect.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: choreo-connect-adapter
  template:
    metadata:
      {{- with .Values.wso2.deployment.adapter.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "choreo-connect.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: choreo-connect-adapter
    spec:
      {{- if .Values.wso2.deployment.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.wso2.deployment.imagePullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- else if and (not (eq .Values.wso2.subscription.username "")) (not (eq .Values.wso2.subscription.password "")) }}
      imagePullSecrets:
        - name: {{ include "choreo-connect.subscriptionCredsSecretName" . }}
      {{- end }}
      serviceAccountName: {{ include "choreo-connect.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.wso2.deployment.adapter.automountServiceAccountToken }}
      {{- with .Values.wso2.deployment.adapter.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8}}
      {{- end }}
      containers:
        - name: choreo-connect-adapter
          {{- include "image" (dict "Values" .Values "deployment" .Values.wso2.deployment.adapter) | indent 10 }}
          imagePullPolicy: {{ .Values.wso2.deployment.adapter.imagePullPolicy }}
          volumeMounts:
            - mountPath: /home/wso2/security/keystore/mg.key
              name: adapter-keystore-key
              readOnly: true
              subPath: {{ if .Values.wso2.deployment.adapter.security.keystore }}{{ .Values.wso2.deployment.adapter.security.keystore.key.subPath | quote }}{{ else }}"mg.key"{{ end }}
            - mountPath: /home/wso2/security/keystore/mg.pem
              name: adapter-keystore-cert
              readOnly: true
              subPath: {{ if .Values.wso2.deployment.adapter.security.keystore }}{{ .Values.wso2.deployment.adapter.security.keystore.cert.subPath | quote }}{{ else }}"mg.pem"{{ end }}
            {{- if not .Values.wso2.deployment.adapter.security.truststore }}
            - mountPath: /home/wso2/security/truststore/controlplane.pem
              name: adapter-truststore
              readOnly: true
              subPath: controlplane.pem
            {{- else }}
              {{- include "choreo-connect.deployment.truststore.mounts" (dict "truststore" .Values.wso2.deployment.adapter.security.truststore "prefix" "adapter") }}
            {{- end }}
            - mountPath: /home/wso2/security/truststore/mg.pem
              name: adapter-keystore-cert
              readOnly: true
              subPath: {{ if .Values.wso2.deployment.adapter.security.keystore }}{{ .Values.wso2.deployment.adapter.security.keystore.cert.subPath | quote }}{{ else }}"mg.pem"{{ end }}
            - mountPath: /home/wso2/security/truststore/enforcer-ca-cert.pem
              name: enforcer-keystore-cert
              readOnly: true
              subPath: {{ if .Values.wso2.deployment.gatewayRuntime.enforcer.security.keystore -}}
                {{- .Values.wso2.deployment.gatewayRuntime.enforcer.security.keystore.cert.subPath | quote }}{{ else }}"mg.pem"{{ end }}
            - mountPath: /home/wso2/security/truststore/router-ca-cert.pem
              name: router-keystore-cert
              readOnly: true
              subPath: {{ if .Values.wso2.deployment.gatewayRuntime.router.security.keystore }}{{ .Values.wso2.deployment.gatewayRuntime.router.security.keystore.cert.subPath | quote }}{{ else }}"mg.pem"{{ end }}
          {{- if .Values.wso2.deployment.adapter.security.consul }}
            - mountPath: /home/wso2/security/truststore/consul/consul-agent-ca.pem
              name: consul-agent-ca-cert
              readOnly: true
              subPath: {{ if .Values.wso2.deployment.adapter.security.consul }}{{ .Values.wso2.deployment.adapter.security.consul.agentCaCert.subPath | quote }}{{ else }}"consul-agent-ca.pem"{{ end }}
            - mountPath: /home/wso2/security/truststore/consul/local-dc-client-consul-0-key.pem
              name: consul-client-cert
              readOnly: true
              subPath: {{ if .Values.wso2.deployment.adapter.security.consul }}{{ .Values.wso2.deployment.adapter.security.consul.clientCert.subPath | quote }}{{ else }}"local-dc-client-consul-0-key.pem"{{ end }}
            - mountPath: /home/wso2/security/truststore/consul/local-dc-client-consul-0.pem
              name: consul-client-key
              readOnly: true
              subPath: {{ if .Values.wso2.deployment.adapter.security.consul }}{{ .Values.wso2.deployment.adapter.security.consul.clientKey.subPath | quote }}{{ else }}"local-dc-client-consul-0.pem"{{ end }}
          {{- end }}
            - mountPath: /home/wso2/conf/config.toml
              name: config-toml
              subPath: "config.toml"
            - mountPath: /home/wso2/conf/log_config.toml
              name: logconfig-toml
              subPath: "log_config.toml"
          {{- if .Values.wso2.deployment.adapter.apiArtifactsMountEmptyDir }}
            - mountPath: /home/wso2/artifacts/apis
              name: api-artifacts-vol
          {{- end }}
            - mountPath: /home/wso2/check_health.sh
              name: grpc-probe-health-check
              subPath: "check_health.sh"
          {{- with .Values.wso2.deployment.adapter.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12}}
          {{- end }}
          env:
            - name: ADAPTER_PRIVATE_KEY_PATH
              value: "/home/wso2/security/keystore/mg.key"
            - name: ADAPTER_PUBLIC_CERT_PATH
              value: "/home/wso2/security/keystore/mg.pem"
          {{- with .Values.wso2.deployment.adapter.envOverride }}
            {{- toYaml . | nindent 12}}
          {{- end }}
          {{- with .Values.wso2.deployment.adapter.resources }}
          resources:
            requests:
              memory: {{ .requests.memory }}
              cpu: {{ .requests.cpu }}
            limits:
              memory: {{ .limits.memory }}
              cpu: {{ .limits.cpu }}
          {{- end }}
          ports:
            - containerPort: 18000
            - containerPort: 9843
          livenessProbe:
            exec:
              command: [ "sh", "check_health.sh" ]
            initialDelaySeconds: {{ .Values.wso2.deployment.adapter.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.wso2.deployment.adapter.livenessProbe.periodSeconds }}
          readinessProbe:
            exec:
              command: [ "sh", "check_health.sh" ]
            initialDelaySeconds: {{ .Values.wso2.deployment.adapter.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.wso2.deployment.adapter.readinessProbe.periodSeconds }}
      volumes:
        - name: adapter-keystore-key
          secret:
            secretName: {{ if .Values.wso2.deployment.adapter.security.keystore }}{{ .Values.wso2.deployment.adapter.security.keystore.key.secretName }}{{ else }}{{printf "%s-default-keystore" (include "choreo-connect.adapterFullname" .) | trunc 63}}{{ end }}
        - name: adapter-keystore-cert
          secret:
            secretName: {{ if .Values.wso2.deployment.adapter.security.keystore }}{{ .Values.wso2.deployment.adapter.security.keystore.cert.secretName }}{{ else }}{{printf "%s-default-keystore" (include "choreo-connect.adapterFullname" .) | trunc 63}}{{ end }}
        {{- if not .Values.wso2.deployment.adapter.security.truststore }}
        - name: adapter-truststore
          secret:
            secretName: {{ printf "%s-default-truststore" (include "choreo-connect.adapterFullname" .) | trunc 63 }}
        {{- else }}
          {{- include "choreo-connect.deployment.truststore.volumes" (dict "truststore" .Values.wso2.deployment.adapter.security.truststore "prefix" "adapter") }}
        {{- end }}
        {{- if .Values.wso2.deployment.adapter.security.consul }}
        - name: consul-agent-ca-cert
          secret:
            secretName: {{ .Values.wso2.deployment.adapter.security.consul.agentCaCert.secretName }}
        - name: consul-client-cert
          secret:
            secretName: {{ .Values.wso2.deployment.adapter.security.consul.clientCert.secretName }}
        - name: consul-client-key
          secret:
            secretName: {{ .Values.wso2.deployment.adapter.security.consul.clientKey.secretName }}
        {{- end }}
        - name: config-toml
          configMap:
            name: {{printf "%s-config-toml" (include "choreo-connect.adapterFullname" .) | trunc 63}}
        - name: logconfig-toml
          configMap:
            name: {{printf "%s-logconfig-toml" (include "choreo-connect.adapterFullname" .) | trunc 63}}
        {{- if .Values.wso2.deployment.adapter.apiArtifactsMountEmptyDir }}
        - name: api-artifacts-vol
          emptyDir: {}
        {{- end }}
        - name: grpc-probe-health-check
          configMap:
            name: {{printf "%s-grpc-probe-script" (include "choreo-connect.adapterFullname" .) | trunc 63}}
            defaultMode: 0777
        - name: enforcer-keystore-cert
          secret:
            secretName: {{ if .Values.wso2.deployment.gatewayRuntime.enforcer.security.keystore -}}
              {{- .Values.wso2.deployment.gatewayRuntime.enforcer.security.keystore.cert.secretName -}}
              {{- else }}{{ printf "%s-default-keystore" (include "choreo-connect.enforcerFullname" .) | trunc 63 }}{{ end }}
        - name: router-keystore-cert
          secret:
            secretName: {{ if .Values.wso2.deployment.gatewayRuntime.router.security.keystore }}{{ .Values.wso2.deployment.gatewayRuntime.router.security.keystore.cert.secretName }}{{ else }}{{ printf "%s-default-keystore" (include "choreo-connect.routerFullname" .) | trunc 63 }}{{ end }}
      restartPolicy: Always
      {{- with .Values.wso2.deployment.adapter.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.wso2.deployment.adapter.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.wso2.deployment.adapter.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
